$white: #FFFFFF;
$black: #111111;

$danger: #f56c6c;
$dark-green: #008a20;
$skyblue: skyblue;
$orange: #e6a23c;

$gray: #888888;
$light-gray-1: mix($white, $gray, 10%);
$light-gray-2: mix($white, $gray, 20%);
$light-gray-3: mix($white, $gray, 30%);
$light-gray-4: mix($white, $gray, 40%);
$light-gray-5: mix($white, $gray, 50%);
$light-gray-6: mix($white, $gray, 60%);
$light-gray-7: mix($white, $gray, 70%);
$light-gray-8: mix($white, $gray, 80%);
$light-gray-9: mix($white, $gray, 90%);
