body{
  font-family: "Segoe UI",
    "Roboto",
    "Helvetica Neue", Arial, sans-serif;
}

.text-center {
  text-align: center;
}

.footer {
  margin-top: 20px;
}

h1, h2, h3, p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

hr {
  border-top: 1px solid;
  margin-top: 1px;
  margin-bottom: 1px;
}

hr.dotted {
  border-top: 1px dashed;
}

table {
  width: 100%;
  font-size: 1.2rem;
}

table td, table td * {
  vertical-align: top;
}

.print__subtotal {
  font-size: 1.2rem;
  font-weight: bold;
}

.print__total {
  font-size: 1.6rem;
  font-weight: bold;
}

@page {
  /* prevents electron's additional margins around sheet-content (the first printedPage of: the html already sized 8.5x22) */
  margin-top: 0cm;
  margin-left: 0cm;
  margin-right: 0cm;
  /* prevents electron from printing a blank page between each sheet (the first and second printedPages of the tall html) */
  margin-bottom: -.5cm;
}
